@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

.registerPage {
    height: 100vh;
    padding-top: 80px;
}

.registerPage > .register > .registerFormBox {
    text-align: center;
}

.registerPage > .register > .registerFormBox {
    font-family: 'Bungee Spice';
    font-size: 1.2rem;
}

.registerPage > .register > .registerFormBox > .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerPage > .register > .registerFormBox > .buttons {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.registerPage > .register > .registerFormBox > .buttons > .submitBtn {
    font-family: 'Bungee Spice';
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 10vw;
    height: 8vh;
}

.registerPage > .register > .registerFormBox > .buttons > #alreadyRegBtn {
    font-size: 0.8rem;
}