@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

.contactDiv {
    height: 100vh;
}

.contactDiv > h1 {
    padding-top: 20px;
    text-align: center;
    font-family: 'Bungee Spice';
    font-size: 1.5rem;
}