@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

.contactPage {
    height: 100vh;
}

.contactPage > .contactDiv {
    margin: auto;
    text-align: center;
}

.contactPage > .contactDiv > .contactBox > .linkDivs {
    width: 300px;
    margin: auto;
}

.contactPage > .contactDiv > .contactBox > #emailDiv {
    width: 300px;
    background-image: url('../../img/legobrick1.png');
    background-size: cover;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.contactPage > .contactDiv > .contactBox > #fbDiv {
    width: 300px;
    background-image: url('../../img/legobrick2.png');
    background-size: cover;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 32px;
}

.contactPage > .contactDiv > .contactBox > #emailDiv > .link {
    font-family: 'Bungee Spice';
    font-size: 1.2rem;
    text-shadow: black 2px 2px;
}

.contactPage > .contactDiv > .contactBox > #fbDiv > .link {
    font-family: 'Bungee Spice';
    font-size: 1.2rem;
    text-shadow: black 2px 2px;
}
