.adminMainDiv {
    height: 100%;
    background-image: url('../../img/lego_background_sepia.jpeg');
    background-size: cover;
}

.adminMainDiv > .buttonsContainer {
    text-align: center;
    padding-top: 10vh;
}

.adminMainDiv > .buttonsContainer > .itemDataButtons {
    margin: 20px;
}
