.adminMainDiv {
    height: 100vh;
    background-image: url('../../img/lego_background_sepia.jpeg');
}

.adminMainDiv > .buttonsContainer {
    text-align: center;
    padding-top: 11vh;
}

.adminMainDiv > .buttonsContainer > .itemDataButtons {
    margin: 20px;
}
